* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
    border: none;
}

html{
    height: 100%;
}

a{
    text-decoration: none;
}
@font-face {
    font-family: 'myFont';
    src: url('src/assets/fonts/AlimamaFangYuanTiVF-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}
